#header
  #content.container
    #content_row.navbar-collapse.row
      .col-lg-9.col-md-8.col-sm-8.col-xs-6.contact-information
        .have-any-question
          Have any question?
        .phone
          %i.fa-telephone
          %a{href: 'tel:84968220460'} 0968 220 460
        .email
          %i.fa-envelope
          %a{href: 'mailto:support@looneyes.com'} support@looneyes.com
      .col-lg-3.col-md-4.col-sm-4.col-xs-6.account-div
        - if !user_signed_in?
          .col-all-9.register-div
            = link_to "Register", new_registration_path(Student), class: "registration-link"
          .col-all-1.separator
            |
          .col-all-2.login-div
            = render "students/sessions/new"
        - else
          .col-lg-9.col-md-9.col-sm-9.col-xs-9.dropdown.info
            %a.user-name-link.dropdown-toggle{ "data-toggle"=> "dropdown", href: "#" }
              - if current_user.avatar.exists?
                = image_tag current_user.avatar.url(:small)
                = "&nbsp;#{current_user.first_name}".html_safe
              - else
                %span= current_user.full_name
              %span.caret
            %ul.dropdown-menu.bullet.pull-right{ role: "menu" }
              %li
                - if current_user.is_a?(Student)
                  = link_to "edit profile", { controller: "students/registrations", action: "edit" }
                - elsif current_user.is_a?(Staff)
                  = link_to "edit profile", edit_staff_registration_path
              %li.divider
              %li
                = link_to "logout", { controller: "students/sessions", action: "destroy" }, method: :delete
          .col-lg-3.col-md-3.col-sm-3.col-xs-3.notification_icon_div
            %button.notification-button
